@font-face {
    font-family: BaiJam;
    src: url(./assets/font/BaiJam.ttf);
}

body{
    background-color: #393431;
    padding-top: 40px;
    margin-bottom: 20px;
    color: white;
    font-family: BaiJam;
}
input,button,select{
    font-family: BaiJam;
}
input[type='number']{
    background-color: #6e655e;
    color:white;
    width: 50px;
}
input[type='range']{
    width: 100px;
    accent-color: #c86311;
}
button,input[type='button']{
    background-color:#c86311;
    color: rgb(255, 255, 255);
}
.bottomAlign{
    display: flex;
    position:absolute;
    bottom: 0;
    align-items: flex-end;
    height: fit-content;
    padding-bottom: 20px;
}
#toolbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 40px;
    background-color: #23201e;
    width: 100vw;
}
.toolbarButton{
    background-color:#c86311;
    color:white;
    flex: 1;
    min-width: 100px;
    font-weight: bold;
    border-width: 5px;
    border-color:#382a1f;
    border-style: double;
}
.toolbarButton:hover{
    background-color: #ae5c19;
}
.toolbarButton:active{
    background-color: #7e481b;
}
